{% extends "base.html" %}

{% block title %}TSpace Chatroom{% endblock %}

{% block content %}
<style>
    body {
        background: #E5DDD5;
    }

    .page-header {
        background: #006A4E;
        margin: 0;
        padding: 20px 0 10px;
        color: #FFFFFF;
        position: fixed;
        width: 100%;
        z-index: 1
    }

    .main {
        height: 100vh;
        padding-top: 70px;
    }

    .chat-log {
        padding: 40px 0 114px;
        height: auto;
        overflow: auto;
    }

    .chat-log__item {
        background: #fafafa;
        padding: 10px;
        margin: 0 auto 20px;
        max-width: 80%;
        float: left;
        border-radius: 4px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
        clear: both;
    }

    .chat-log__item.chat-log__item--own {
        float: right;
        background: #DCF8C6;
        text-align: right;
    }

    .chat-form {
        background: #DDDDDD;
        padding: 40px 0;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .chat-log__author {
        margin: 0 auto .5em;
        font-size: 14px;
        font-weight: bold;
    }
</style>

<div class="main">
    <div class="container ">
        <div class="chat-log">

            {% for data in messages %}
                {% if data['username']['S'] == username %}
                    <div class="chat-log__item chat-log__item--own">
                {% else %}
                    <div class="chat-log__item">
                {% endif %}
                        <h3 class="chat-log__author">{{ data['username']['S'] }}  <small>{{ formatedDate(data['time_sent']['N']) }}</small></h3>
                        <div class="chat-log__message">{{ data['message']['S'] }}</div>
                    </div>
            {% endfor %}
        </div>
    </div>
    {% if username %}
    <div class="chat-form">
        <div class="container ">
            <form class="form-horizontal" action="chatroom" method="post">
                <div class="row">
                    <div class="col-sm-10 col-xs-8">
                        <input type="text" class="form-control" id="" placeholder="Message" name="message"/>
                    </div>
                    <div class="col-sm-2 col-xs-4">
                        <button type="submit" class="btn btn-success btn-block">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}