{% extends "base.html" %}

{% block title %}TSpace Sign Up{% endblock %}

{% block body_attributes %}text-center{% endblock %}

{% block content %}
<main class="form-signin w-100 m-auto">
	<form action="signup" method='post'>
		<h1 class="h3 mb-3 fw-normal">Please sign up</h1>
		<div class="form-floating">
			<input type="text" class="form-control" id="floatingInput" placeholder="Username" name="username">
			<label for="floatingInput">Username</label>
		</div>
		<div class="form-floating">
			<input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
			<label for="floatingPassword">Password</label>
		</div>
		<!-- <div class="form-floating">
			<input type="password" class="form-control" id="floatingPasswordVerify" placeholder="Verify Password">
			<label for="floatingPasswordVerify">Verify Password</label>
		</div> -->
		<button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
	</form>
</main>
{% endblock %}